In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
dataset=pd.read_csv('insurance_pre.csv')
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [3]:
dataset=pd.get_dummies(dataset,drop_first=True)
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [5]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [6]:
indep=dataset[['age','bmi','children','sex_male','smoker_yes']]
indep

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [7]:
dep=dataset[['charges']]
dep

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [8]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV
param_grid={'criterion':['mse','mae'],'max_features':['auto','sqrt','log2'],'n_estimators':[10,100]}
grid=GridSearchCV(RandomForestRegressor(),param_grid,refit=True,verbose=3,n_jobs=-1)
grid.fit(indep,dep)

Fitting 5 folds for each of 12 candidates, totalling 60 fits

C:\Users\PC\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:926: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)
C:\Users\PC\Anaconda3\lib\site-packages\sklearn\ensemble\_forest.py:407: FutureWarning: Criterion 'mae' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='absolute_error'` which is equivalent.
  FutureWarning,

GridSearchCV(estimator=RandomForestRegressor(), n_jobs=-1,
             param_grid={'criterion': ['mse', 'mae'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'n_estimators': [10, 100]},
             verbose=3)

In [9]:
re=grid.cv_results_
print("The R_score value for the best parameter{}:".format(grid.best_params_))

The R_score value for the best parameter{'criterion': 'mae', 'max_features': 'sqrt', 'n_estimators': 100}:

In [10]:
table=pd.DataFrame.from_dict(re)

In [11]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.115596,0.012497,0.015623,2.436073e-06,mse,auto,10,"{'criterion': 'mse', 'max_features': 'auto', '...",0.832148,0.748913,0.845795,0.807907,0.830660,0.813085,0.034313,12
1,0.733864,0.024744,0.030398,1.330463e-02,mse,auto,100,"{'criterion': 'mse', 'max_features': 'auto', '...",0.847743,0.776297,0.852957,0.816761,0.834471,0.825646,0.027663,5
2,0.074979,0.011687,0.015625,3.718107e-06,mse,sqrt,10,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.843184,0.767005,0.849786,0.810709,0.827341,0.819605,0.029572,7
3,0.427982,0.112405,0.026691,6.186934e-03,mse,sqrt,100,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.856479,0.781447,0.858773,0.829002,0.843056,0.833751,0.028240,2
4,0.040615,0.007653,0.012497,6.248403e-03,mse,log2,10,"{'criterion': 'mse', 'max_features': 'log2', '...",0.839333,0.759586,0.845037,0.812900,0.814612,0.814294,0.030223,10
5,0.278057,0.006248,0.024994,7.653001e-03,mse,log2,100,"{'criterion': 'mse', 'max_features': 'log2', '...",0.858005,0.772614,0.862351,0.828791,0.840672,0.832487,0.032275,3
6,0.246815,0.006248,0.009373,7.652748e-03,mae,auto,10,"{'criterion': 'mae', 'max_features': 'auto', '...",0.827658,0.754547,0.850763,0.826254,0.823432,0.816531,0.032496,9
7,3.123187,0.044184,0.031242,4.623108e-07,mae,auto,100,"{'criterion': 'mae', 'max_features': 'auto', '...",0.841748,0.769550,0.853765,0.823102,0.838150,0.825263,0.029526,6
8,0.153088,0.006249,0.006249,7.652903e-03,mae,sqrt,10,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.844164,0.759653,0.830159,0.820572,0.836307,0.818171,0.030260,8
9,1.811427,0.370207,0.024995,1.249689e-02,mae,sqrt,100,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.859014,0.779784,0.857675,0.826407,0.848067,0.834190,0.029600,1
10,0.146839,0.007653,0.009373,7.652903e-03,mae,log2,10,"{'criterion': 'mae', 'max_features': 'log2', '...",0.846867,0.748565,0.856452,0.801890,0.813688,0.813492,0.038235,11
11,1.521530,0.070293,0.028118,1.169084e-02,mae,log2,100,"{'criterion': 'mae', 'max_features': 'log2', '...",0.859346,0.774272,0.857510,0.827748,0.840858,0.831947,0.031073,4

In [12]:
age_input=float(input("Age:"))
bmi_input=int(input("BMI:"))
children_input=float(input("Children:"))
sex_male_input=int(input("Sex Male 0 or 1:"))
smoker_yes_input=int(input("Smoker yes 0 or 1:"))

Age:32
BMI:43
Children:2
Sex Male 0 or 1:0
Smoker yes 0 or 1:1

In [13]:
Future_Prediction=grid.predict([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])
print("Future_prediction={}".format(Future_Prediction))

Future_prediction=[43928.1857217]

C:\Users\PC\Anaconda3\lib\site-packages\sklearn\base.py:451: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  "X does not have valid feature names, but"