In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
dataset=pd.read_csv('insurance_pre.csv')
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [3]:
dataset=pd.get_dummies(dataset,drop_first=True)
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [4]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [5]:
indep=dataset[['age','bmi','children','sex_male','smoker_yes']]
dep=dataset[['charges']]

In [6]:
indep

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [7]:
dep

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [8]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(indep,dep,test_size=1/3,random_state=0)
x_train,x_test,y_train,y_test

(      age    bmi  children  sex_male  smoker_yes
 482    18  31.35         0         0           0
 338    50  32.30         1         1           1
 356    46  43.89         3         1           0
 869    25  24.30         3         0           0
 182    22  19.95         3         1           0
 ...   ...    ...       ...       ...         ...
 763    27  26.03         0         1           0
 835    42  35.97         2         1           0
 1216   40  25.08         0         1           0
 559    19  35.53         0         1           0
 684    33  18.50         1         0           0

 [892 rows x 5 columns],       age     bmi  children  sex_male  smoker_yes
 578    52  30.200         1         1           0
 610    47  29.370         1         0           0
 569    48  40.565         2         1           1
 1034   61  38.380         0         1           0
 198    51  18.050         0         0           0
 ...   ...     ...       ...       ...         ...
 261    20  26.840         1         0           1
 1271   25  34.485         0         0           0
 1313   19  34.700         2         0           1
 2      28  33.000         3         1           0
 405    52  38.380         2         0           0

 [446 rows x 5 columns],          charges
 482    1622.1885
 338   41919.0970
 356    8944.1151
 869    4391.6520
 182    4005.4225
 ...          ...
 763    3070.8087
 835    7160.3303
 1216   5415.6612
 559    1646.4297
 684    4766.0220

 [892 rows x 1 columns],           charges
 578    9724.53000
 610    8547.69130
 569   45702.02235
 1034  12950.07120
 198    9644.25250
 ...           ...
 261   17085.26760
 1271   3021.80915
 1313  36397.57600
 2      4449.46200
 405   11396.90020

 [446 rows x 1 columns])

In [9]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.transform(x_test)

In [10]:
from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeRegressor
param_grid={'criterion':['mse','mae','friedman_mse'],'max_features':['auto','sqrt','log2'],'splitter':['best','random']}
grid=GridSearchCV(DecisionTreeRegressor(),param_grid,refit=True,verbose=3,n_jobs=-1)
grid.fit(x_train,y_train)

Fitting 5 folds for each of 18 candidates, totalling 90 fits

C:\Users\PC\Anaconda3\lib\site-packages\sklearn\tree\_classes.py:363: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  FutureWarning,

GridSearchCV(estimator=DecisionTreeRegressor(), n_jobs=-1,
             param_grid={'criterion': ['mse', 'mae', 'friedman_mse'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'splitter': ['best', 'random']},
             verbose=3)

In [11]:
re=grid.cv_results_
print("The R_score value for the best parameter{}:".format(grid.best_params_))

The R_score value for the best parameter{'criterion': 'mse', 'max_features': 'auto', 'splitter': 'best'}:

In [12]:
table=pd.DataFrame.from_dict(re)
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_splitter,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.218711,0.000020,0.006232,0.007633,mse,auto,best,"{'criterion': 'mse', 'max_features': 'auto', '...",0.716435,0.511897,0.763989,0.645491,0.663293,0.660221,0.085034,1
1,0.128092,0.099487,0.006247,0.007651,mse,auto,random,"{'criterion': 'mse', 'max_features': 'auto', '...",0.666591,0.670857,0.687898,0.575884,0.612518,0.642750,0.041909,2
2,0.011703,0.008400,0.005957,0.005778,mse,sqrt,best,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.698457,0.527486,0.646143,0.602867,0.648908,0.624772,0.057294,9
3,0.004740,0.005823,0.002799,0.004914,mse,sqrt,random,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.591155,0.549700,0.593060,0.605447,0.563570,0.580586,0.020634,13
4,0.006824,0.007445,0.003592,0.006508,mse,log2,best,"{'criterion': 'mse', 'max_features': 'log2', '...",0.510030,0.618594,0.678208,0.616388,0.477037,0.580051,0.074774,14
5,0.006749,0.007665,0.003687,0.006621,mse,log2,random,"{'criterion': 'mse', 'max_features': 'log2', '...",0.568606,0.568683,0.595822,0.545627,0.584432,0.572634,0.016959,15
6,0.022899,0.007915,0.006118,0.007501,mae,auto,best,"{'criterion': 'mae', 'max_features': 'auto', '...",0.635907,0.578963,0.688090,0.590002,0.638911,0.626374,0.039058,7
7,0.026641,0.008369,0.000000,0.000000,mae,auto,random,"{'criterion': 'mae', 'max_features': 'auto', '...",0.703018,0.625675,0.639143,0.560680,0.666405,0.638984,0.047246,4
8,0.023888,0.007725,0.001041,0.001299,mae,sqrt,best,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.631449,0.614926,0.548953,0.401704,0.579073,0.555221,0.081916,17
9,0.019875,0.003020,0.002676,0.001785,mae,sqrt,random,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.583013,0.634545,0.638176,0.639116,0.595031,0.617976,0.023993,10
10,0.017600,0.008300,0.001995,0.001669,mae,log2,best,"{'criterion': 'mae', 'max_features': 'log2', '...",0.598309,0.564207,0.743639,0.649148,0.576643,0.626389,0.065415,6
11,0.008425,0.006309,0.004520,0.005774,mae,log2,random,"{'criterion': 'mae', 'max_features': 'log2', '...",0.744762,0.417562,0.541379,0.534042,0.530336,0.553616,0.105945,18
12,0.005717,0.005747,0.004204,0.005891,friedman_mse,auto,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.677704,0.473712,0.745490,0.632015,0.669460,0.639676,0.090700,3
13,0.009373,0.007653,0.000000,0.000000,friedman_mse,auto,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.650784,0.651158,0.653085,0.645578,0.586663,0.637453,0.025517,5
14,0.003124,0.006249,0.003124,0.006249,friedman_mse,sqrt,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.562732,0.580076,0.688894,0.577968,0.640835,0.610101,0.047604,11
15,0.000000,0.000000,0.009372,0.007652,friedman_mse,sqrt,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.477855,0.527682,0.707126,0.602957,0.642097,0.591543,0.081300,12
16,0.000000,0.000000,0.006249,0.007653,friedman_mse,log2,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.730423,0.542579,0.750324,0.451476,0.652429,0.625446,0.113557,8
17,0.000000,0.000000,0.003124,0.006248,friedman_mse,log2,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.639435,0.555174,0.598960,0.582721,0.441179,0.563494,0.066970,16

In [13]:
age_input=float(input("Age:"))
bmi_input=int(input("BMI:"))
children_input=float(input("Children:"))
sex_male_input=int(input("Sex Male 0 or 1:"))
smoker_yes_input=int(input("Smoker yes 0 or 1:"))

Age:32
BMI:43
Children:2
Sex Male 0 or 1:0
Smoker yes 0 or 1:1

In [14]:
Future_Prediction=grid.predict([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])
print("Future_prediction={}".format(Future_Prediction))

Future_prediction=[63770.42801]