In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
dataset=pd.read_csv('insurance_pre.csv')
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [3]:
dataset=pd.get_dummies(dataset,drop_first=True)
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [4]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [5]:
indep=dataset[['age','bmi','children','sex_male','smoker_yes']]
dep=dataset[['charges']]

In [6]:
indep

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [7]:
dep

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [8]:
from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeRegressor
param_grid={'criterion':['mse','mae','friedman_mse'],'max_features':['auto','sqrt','log2'],'splitter':['best','random']}
grid=GridSearchCV(DecisionTreeRegressor(),param_grid,refit=True,verbose=3,n_jobs=-1)
grid.fit(indep,dep)

Fitting 5 folds for each of 18 candidates, totalling 90 fits

C:\Users\PC\Anaconda3\lib\site-packages\sklearn\tree\_classes.py:370: FutureWarning: Criterion 'mae' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='absolute_error'` which is equivalent.
  FutureWarning,

GridSearchCV(estimator=DecisionTreeRegressor(), n_jobs=-1,
             param_grid={'criterion': ['mse', 'mae', 'friedman_mse'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'splitter': ['best', 'random']},
             verbose=3)

In [9]:
re=grid.cv_results_
print("The R_score value for the best parameter{}:".format(grid.best_params_))

The R_score value for the best parameter{'criterion': 'mae', 'max_features': 'sqrt', 'splitter': 'best'}:

In [10]:
table=pd.DataFrame.from_dict(re)
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_splitter,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.018746,6.248665e-03,0.012497,0.006249,mse,auto,best,"{'criterion': 'mse', 'max_features': 'auto', '...",0.724987,0.654922,0.728576,0.702224,0.658798,0.693901,0.031590,6
1,0.018745,6.249309e-03,0.006248,0.007653,mse,auto,random,"{'criterion': 'mse', 'max_features': 'auto', '...",0.717907,0.633482,0.670919,0.668820,0.717798,0.681785,0.032314,11
2,0.018744,6.248260e-03,0.009372,0.007652,mse,sqrt,best,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.705129,0.537824,0.749322,0.734443,0.730655,0.691475,0.078132,7
3,0.015621,9.246216e-07,0.009373,0.007653,mse,sqrt,random,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.687605,0.634092,0.771200,0.672711,0.599652,0.673052,0.057880,13
4,0.012497,6.248379e-03,0.009372,0.007652,mse,log2,best,"{'criterion': 'mse', 'max_features': 'log2', '...",0.687175,0.661639,0.672023,0.698772,0.685290,0.680980,0.012867,12
5,0.009373,7.653059e-03,0.006249,0.007653,mse,log2,random,"{'criterion': 'mse', 'max_features': 'log2', '...",0.641124,0.635895,0.601851,0.739312,0.657071,0.655050,0.045815,17
6,0.046864,5.435944e-06,0.006246,0.007649,mae,auto,best,"{'criterion': 'mae', 'max_features': 'auto', '...",0.720050,0.577457,0.761031,0.707275,0.751893,0.703541,0.066071,3
7,0.043741,1.169281e-02,0.003124,0.006248,mae,auto,random,"{'criterion': 'mae', 'max_features': 'auto', '...",0.752830,0.591495,0.712098,0.686094,0.703805,0.689265,0.053558,8
8,0.031243,4.196167e-06,0.003126,0.006253,mae,sqrt,best,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.720846,0.653739,0.739707,0.688393,0.760804,0.712698,0.037886,1
9,0.028118,6.253387e-03,0.009373,0.007653,mae,sqrt,random,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.766682,0.668134,0.562206,0.637474,0.775424,0.681984,0.080529,10
10,0.031238,4.597462e-06,0.009373,0.007653,mae,log2,best,"{'criterion': 'mae', 'max_features': 'log2', '...",0.670781,0.586548,0.701920,0.693023,0.669357,0.664326,0.040874,15
11,0.031240,3.984944e-06,0.006248,0.007653,mae,log2,random,"{'criterion': 'mae', 'max_features': 'log2', '...",0.609838,0.636507,0.740023,0.692835,0.679569,0.671755,0.045259,14
12,0.015621,8.869684e-07,0.003124,0.006248,friedman_mse,auto,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.716329,0.658806,0.731912,0.739311,0.679170,0.705106,0.031083,2
13,0.012498,6.248760e-03,0.003124,0.006248,friedman_mse,auto,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.722171,0.618836,0.725243,0.697911,0.711760,0.695184,0.039352,5
14,0.009372,7.652553e-03,0.006248,0.007653,friedman_mse,sqrt,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.774379,0.618555,0.683744,0.723514,0.713206,0.702680,0.051227,4
15,0.006248,7.652787e-03,0.009372,0.007652,friedman_mse,sqrt,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.661241,0.497854,0.707346,0.716828,0.655971,0.647848,0.078793,18
16,0.006248,7.652553e-03,0.000000,0.000000,friedman_mse,log2,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.747397,0.651986,0.579646,0.701729,0.730093,0.682170,0.060591,9
17,0.006249,7.652962e-03,0.006255,0.007661,friedman_mse,log2,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.659461,0.563823,0.710052,0.709523,0.662442,0.661060,0.053307,16

In [11]:
age_input=float(input("Age:"))
bmi_input=int(input("BMI:"))
children_input=float(input("Children:"))
sex_male_input=int(input("Sex Male 0 or 1:"))
smoker_yes_input=int(input("Smoker yes 0 or 1:"))

Age:32
BMI:43
Children:2
Sex Male 0 or 1:0
Smoker yes 0 or 1:1

In [12]:
Future_Prediction=grid.predict([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])
print("Future_prediction={}".format(Future_Prediction))

Future_prediction=[58571.07448]

C:\Users\PC\Anaconda3\lib\site-packages\sklearn\base.py:451: UserWarning: X does not have valid feature names, but DecisionTreeRegressor was fitted with feature names
  "X does not have valid feature names, but"